<form action="/cars" method="post">

  <label for="manufacturer">Manufacturer:</label>
  <input type="text" name="manufacturer" value="">

  <label for="model">Model:</label>
  <input type="text" name="model" value="">

  <label for="mileage">Mileage:</label>
  <input type="number" name="mileage" value="">

  <label for="registration_year">Registration Year:</label>
  <input type="number" name="registration_year" value="">

  <label for="daily_rental_rate">Daily Rental Rate:</label>
  <input type="number" name="daily_rental_rate" value="">

  <label for="rented">Rented:</label>
  <input type="boolean" name="rented" value="">

  <input type="submit" value="Add New Car">
</form>
