<h1 class="codeclan_header">CodeClan's Rental Shop</h1>

<iframe width="100%" height="450px" src="https://www.youtube-nocookie.com/embed/11-q5_U2li0?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida, sapien a lobortis commodo, magna dui maximus dui, vitae dignissim orci neque ac ipsum. Proin quis semper ligula. In hac habitasse platea dictumst. Praesent mauris turpis, egestas eu finibus vitae, rhoncus vestibulum arcu. Etiam vel consectetur tortor, et hendrerit diam. Integer a erat odio. Cras pretium felis mauris, sed sagittis sapien pretium non. Ut sit amet felis at neque egestas gravida. Pellentesque ac metus vitae odio pellentesque sagittis non eget nulla.</p>

<h2 class="twitter_header">Twitter Feed Of Great Car Shows</h2>

<div class="twitter-feeds">
  <div class="topGear-twitter" >
    <a class="twitter-timeline" href="https://twitter.com/BBC_TopGear?ref_src=twsrc%5Etfw">Tweets by BBC_TopGear</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

  <div class="theGrandtour-twitter" >
    <a class="twitter-timeline" href="https://twitter.com/thegrandtour?ref_src=twsrc%5Etfw">Tweets by thegrandtour</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
