<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>CodeClan's Rental Shop</title>
  <link rel="stylesheet" href="/styles/buttons.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/tables.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<div class="navigation">
  <nav>
    <ul>
      <li> <a href="/">Home</a> </li>
      <li> <a href="/rentals">Rentals</a> </li>
      <li> <a href="/customers">Customers</a> </li>
      <li> <a href="/cars">Cars</a></li>
      <div class="search-button">
        <form class="search-button" action="" method="post">
          <i class="fas fa-search"></i>
        </form>
      </div>
    </ul>
  </nav>
</div>
<%= yield %>
</body>
</html>
