<form action="/customers/<%= @customer.id %>" method="post">
<br>
  <label for="first_name">First Name:</label>
  <input type="text" name="first_name" value="<%= @customer.first_name %>">
<br>
  <label for="second_name">Second Name:</label>
  <input type="text" name="second_name" value="<%= @customer.second_name %>">
<br>
  <label for="age">Age:</label>
  <input type="number" name="age" value="<%= @customer.age %>">
<br>
  <input type="submit" value="Save Customer">
</form>
