<form action="/customers" method="post">

  <label for="first_name">First Name:</label>
  <input type="text" name="first_name" value="">

  <label for="second_name">Second Name:</label>
  <input type="text" name="second_name" value="">

  <label for="age">Age:</label>
  <input type="number" name="age" value="">

  <input type="submit" value="Add New Customer">
</form>
